.auth-form-container {
  width: 400px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transform: translateY(-5%);
}
.auth-form-container > * > * {
  margin-bottom: 20px;
}
.auth-form-container h1 {
  color: var(--fg);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
}

.auth-button {
  padding: 10px 15px;
  background-color: var(--transparent);
  color: var(--light);
  border: 1px solid var(--fg);
  font-weight: lighter;
  letter-spacing: 2px;
  border-radius: 2px;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.auth-button:disabled {
  cursor: not-allowed;
  border: 1px solid var(--bg-2);
  color: var(--bg-2);
}

.auth-button:enabled:hover {
  background-color: var(--fg);
  color: var(--bg);
}
.auth-link {
  padding-left: 5px;
  transition: color 200ms ease-in-out;
}

.auth-link:hover {
  color: var(--fg);
  cursor: pointer;
}
