.auth-form-container {
  width: 400px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transform: translateY(-5%);
}
.auth-form-container > * > * {
  margin-bottom: 10px;
}
.auth-form-container h1 {
  color: var(--fg);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 4rem;
}

.auth-button {
  padding: 10px 15px;
  background-color: var(--transparent);
  color: var(--light);
  border: 1px solid var(--fg);
  font-weight: lighter;
  letter-spacing: 2px;
  border-radius: 2px;
}
