label {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.error-container {
  height: 20px;
}

.error-container .error {
  font-size: 0.8rem;
  color: red;
  font-weight: bold;
}

.form-field {
  color: white;
  outline: none;
  border: 1px solid var(--bg-2);
  background-color: var(--transparent);
  padding: 12px;
  border-radius: 2px;
}

.form-field::placeholder {
  color: var(--light);
}

.form-field:focus {
  border: 1px solid var(--fg);
}
